.color_1 {
  background-color: pink;
  color: black;
}
.color_2 {
  background-color: tan;
  color: black;
}
.color_3 {
  background-color: olive;
}
.color_4 {
  background-color: rebeccapurple;
}
.color_5 {
  background-color: lightslategray;
}
.color_6 {
  background-color: orangered;
}
